body {
    display: flex;
    flex-direction: row;
}
.hero {
    width: 50%;;
}

aside {
    background-image: url("caleb-smith-unsplash.jpg");
    width: 40%;
    height: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoText {
    font-size: 6rem;
    color: white;
}

body {
    margin: 0;
    height: 100%;
}

html {
    height: 100vh;
}